# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data & models
*.csv
*.txt
*.pkl
*.joblib

# Bilder från matplotlib/EDA
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo